html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 91px; }

header .link-login {
  display: block;
  height: 20px;
  width: 20px;
  background: url("images/Fill.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat; }

main .search-instructor {
  margin-top: 40px; }
  main .search-instructor .page-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 17px;
    text-align: center;
    margin-bottom: 52px; }
  main .search-instructor .select-town {
    margin-top: 40px; }
    main .search-instructor .select-town .custom-select {
      height: 45px;
      border-radius: 0;
      margin-bottom: 21px;
      background: url("images/arrow.svg") no-repeat right 0.75rem center/8px 10px; }
  main .search-instructor p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #9C9C9C; }
  main .search-instructor .type-license {
    margin-bottom: 21px; }
    main .search-instructor .type-license__item {
      margin-right: 10px;
      height: 45px;
      border: 1px solid #B0B0B0;
      line-height: 45px;
      width: 100%;
      text-align: center;
      cursor: pointer; }
      main .search-instructor .type-license__item:hover {
        border-color: blue;
        color: blue; }
      main .search-instructor .type-license__item:last-child {
        margin-right: 0; }
    main .search-instructor .type-license .active {
      border-color: blue;
      color: blue; }
  main .search-instructor .type-car {
    margin-bottom: 21px; }
    main .search-instructor .type-car__item {
      margin-right: 10px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      line-height: 45px;
      height: 45px;
      border: 1px solid #B0B0B0;
      cursor: pointer; }
      main .search-instructor .type-car__item:hover {
        border-color: blue;
        color: blue; }
      main .search-instructor .type-car__item:last-child {
        margin-right: 0; }
    main .search-instructor .type-car .active {
      border-color: blue;
      color: blue; }
  main .search-instructor .button-sarch {
    width: 320px;
    height: 45px;
    background: #B0B0B0;
    color: #fff;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 20px 0 75px;
    cursor: pointer; }
    main .search-instructor .button-sarch:hover {
      background: #999; }
main .instructors__title {
  margin: 80px 0 30px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center; }
main .instructors .instructor {
  margin: 50px 0; }
  main .instructors .instructor__avatar {
    text-align: center;
    width: 40%; }
    main .instructors .instructor__avatar img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      overflow: hidden;
      display: block;
      margin: auto;
      margin-bottom: 23px; }
      main .instructors .instructor__avatar img .name {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-align: center; }
  main .instructors .instructor__info {
    width: 60%; }
    main .instructors .instructor__info-item {
      position: relative;
      font-family: 'Roboto', sans-serif;
      line-height: 22px;
      font-size: 12px;
      letter-spacing: -0.03em;
      color: #000000;
      margin-bottom: 10px;
      padding-right: 30px; }
      main .instructors .instructor__info-item:after {
        content: "";
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 2px solid #000000;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
        background: url(images/line.svg);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat; }
main .advantages__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 17px;
  margin: 80px 0 20px 0; }
main .advantages .advantage {
  margin-bottom: 21px; }
  main .advantages .advantage .image {
    height: 50px;
    width: 50px;
    margin-right: 22px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box; }
  main .advantages .advantage .text {
    width: 80%;
    font-family: "Roboto", sans-serif;
    line-height: 16px;
    font-size: 12px;
    text-align: justify;
    letter-spacing: -0.0241176em;
    color: #000000; }

footer {
  position: absolute;
  bottom: -72px;
  left: 0;
  width: 100%;
  height: 91px;
  background: #C4C4C4;
  padding: 18px 0 23px; }
  footer .footer-menu {
    margin: 16px 0; }
    footer .footer-menu a {
      font-family: 'Roboto', sans-serif;
      color: #000;
      font-size: 12px;
      transition: 0.25s; }
      footer .footer-menu a:hover {
        text-decoration: underline;
        color: blue;
        transition: 0.25s; }
  footer .social-link {
    margin-top: 10px; }
    footer .social-link__item {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff; }
      footer .social-link__item a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 30px;
        color: #DADADA;
        font-size: 14px; }
        footer .social-link__item a:hover {
          color: blue; }

@media screen and (max-width: 576px) {
  body {
    margin-bottom: 200px; }

  main .search-instructor .select-town {
    margin-top: 0px; }
  main .search-instructor .button-sarch {
    width: 100%; }
  main .instructors .instructor {
    -webkit-flex-direction: column;
    flex-direction: column; }
    main .instructors .instructor__avatar {
      text-align: center;
      width: 100%;
      margin-bottom: 16px; }
    main .instructors .instructor__info {
      width: 100%; }

  footer {
    height: 200px; }
    footer .footer-menu {
      -webkit-flex-direction: column;
      flex-direction: column;
      margin-top: 0; }
      footer .footer-menu a {
        text-align: center;
        margin-bottom: 0px; } }

/*# sourceMappingURL=style.css.map */
